[user]
	name = ahmehri
[alias]
	lg = log --oneline --graph --decorate
	lga = log --oneline --graph --decorate --all
	#wip = "!f(){ git commit --no-verify -m \"$1 [wip]\"; }; f"
        wip = commit -am wip --no-verify
	amend = commit -a --amend --no-edit
	amendnv = commit -a --amend --no-edit --no-verify
	amends = commit --amend --no-edit --no-verify
	lghm = log --oneline --graph --decorate @ origin/master master
	amendnv = commit -a --amend --no-edit --no-verify
[fetch]
	prune = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nano
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[branch]
	autosetuprebase = always
[oh-my-zsh]
	hide-status = 1
